body {
    background-color: darkgray;
}
.container {
    background-color: antiquewhite;
}

.nav {
    background-color: lightgray;
}

.nav-pills .nav-link.active {
    background-color: rgb(155, 36, 36);
}

.card {
    width: 300px;
}

.card-text {
    text-align: justify;
}